<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/cabecalho :: head}"></head>
<body id="fundo">
<th:block th:replace="~{template/cabecalho :: nav}"></th:block>

<link
	href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
	rel='stylesheet' type='text/css'>

<link th:href="@{/resources/form-css/css/normalize.css}" rel="stylesheet">
<link th:href="@{/resources/form-css/css/style.css}" rel="stylesheet">

<div class="form">
	<div class="tab-content">
	<h1>Cadastro de prova</h1>
			<h4>Tipo:</h4>
			<form action="form_prova" method="post">
					<hr>
					<button type="submit" class="button button-block">Formular Prova</button>
					<hr>
			</form>
			<form action="form_prova_aleatoria" method="post">
					<button type="submit" class="button button-block">Gerar Prova Automaticamente</button>
					<hr>
			</form>
	</div>
</div>

<script
	src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script th:src="@{/resources/form-css/js/index.js}"></script>
<th:block th:replace="~{template/rodape :: footer}"></th:block>
</body>
</html>
