<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/cabecalho :: head}"></head>
<body id="fundo">
<th:block th:replace="~{template/cabecalho :: nav}"></th:block>

<link
	href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
	rel='stylesheet' type='text/css'>

<link th:href="@{/resources/form-css/css/normalize.css}" rel="stylesheet">
<link th:href="@{/resources/form-css/css/style.css}" rel="stylesheet">

<div class="form">
	<div class="tab-content">
		<h2>Instituição <i th:text="${instituicao?.nome}">nome</i> cadastrada com sucesso!</h2>
		<h2>Selecione uma das opções para continuar:</h2>
		<a th:href="@{/lista_instituicao}" class="btn btn-lg btn-dark" style="width: 100%">Listar instituições</a><hr>
		<a th:href="@{/form_instituicao}" class="btn btn-lg btn-dark" style="width: 100%">Cadastrar outra instituição</a>
	</div>
</div>

<th:block th:replace="~{template/rodape :: footer}"></th:block>
</body>
</html>
