<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/cabecalho :: head}"></head>
<body id="fundo">
<th:block th:replace="~{template/cabecalho :: nav}"></th:block>

<link
	href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
	rel='stylesheet' type='text/css'>

<link th:href="@{/resources/form-css/css/normalize.css}" rel="stylesheet">
<link th:href="@{/resources/form-css/css/style.css}" rel="stylesheet">

<div class="form">
	<div class="tab-content">
		<h1>QUESTÃO CADASTRADA COM SUCESSO! </h1>
		<h2> _&gt; <span th:text="${questaoD?.enunciado}"></span> <span th:text="${questaoA?.enunciado}"></span></h2>
	</div>
</div>
<script lang="JavaScript">
	setTimeout("document.location = 'form_questao'", 4500)
</script>

<th:block th:replace="~{template/rodape :: footer}"></th:block>
</body>
</html>
