<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/cabecalho :: head}"></head>
<body id="fundo">
<th:block th:replace="~{template/cabecalho :: nav}"></th:block>

<link
	href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600'
	rel='stylesheet' type='text/css'>

<link th:href="@{/resources/form-css/css/normalize.css}" rel="stylesheet">
<link th:href="@{/resources/form-css/css/style.css}" rel="stylesheet">

<style>
.dual-list .list-group {
	margin-top: 8px;
}

.list-left li, .list-right li {

}
</style>

<form action="corrigir_gabaritos1" method="post">
<div class="form2">
	<div class="row">
		<h1>
			Gabaritos...
		</h1>


		<div class="dual-list list-right col-md-12">
			<div class="well text-left">
				<ul class="list-group" style="height: 600px; overflow-y: scroll;">

					<li class="list-group-item" id="teste" th:each="gabarito, c1 : ${gabaritos}">
						<h2 style="color: black;"><b>Aluno: <span th:text="${gabarito.aluno.nome}"></span></b></h2>
						<input type="hidden" th:name="'lista[' + ${c1.index} + '].id'" th:value="${gabarito.id}">
						<input type="hidden" th:name="'lista[' + ${c1.index} + '].aluno.id'" th:value="${gabarito.aluno.id}">
						<hr>
						<th:block th:each="resposta, c2 : ${gabarito.respostas}">

							<h2 style="color: black;">Pergunta:</h2> <h3 style="color: black;" th:text="${resposta.questao.enunciado}"></h3>
							<h2 style="color: black;">Resposta:</h2> <h3 style="color: black;"><i th:text="${resposta.resposta}"></i></h3><br>

							<div>
								<input type="hidden" th:name="'lista[' + ${c1.index} + '].respostas[' + ${c2.index} + '].id'" th:value="${resposta.id}">
								<input type="hidden" th:name="'lista[' + ${c1.index} + '].respostas[' + ${c2.index} + '].questao.id'" th:value="${resposta.questao.id}">
								<input type="radio" th:name="'lista[' + ${c1.index} + '].respostas[' + ${c2.index} + '].correta'" style="width: 20px; height: 20px;" value="0"><a style="color: black; font-size: 20px;"> Errada</a><br>
  								<input type="radio" th:name="'lista[' + ${c1.index} + '].respostas[' + ${c2.index} + '].correta'" style="width: 20px; height: 20px;" value="1"><a style="color: black; font-size: 20px;"> Meio Certo</a><br>
  								<input type="radio" th:name="'lista[' + ${c1.index} + '].respostas[' + ${c2.index} + '].correta'" style="width: 20px; height: 20px;" value="2"><a style="color: black; font-size: 20px;"> Certa</a>
  							</div><br>
  							<textarea cols="50" th:name="'lista[' + ${c1.index} + '].respostas[' + ${c2.index} + '].consideracao'" placeholder="Considerações..." style="color: black"></textarea>
  							<hr>
						</th:block>

					</li>
				</ul>

				<button type="submit" class="button button-block">Finalizar Correção</button>

			</div>
		</div>
	</div>
</div>

</form>

<script>
	$(function() {
		$('[name="SearchDualList"]').keyup(function(e) {
			var code = e.keyCode || e.which;
			if (code == '9')
				return;
			if (code == '27')
				$(this).val(null);
			var $rows = $(this).closest('.dual-list').find('.list-group a');
			var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
			$rows.show().filter(function() {
				var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
				return !~text.indexOf(val);
			}).hide();
		});

	});
</script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<script th:src="@{/resources/form-css/js/index.js}"></script>
<th:block th:replace="~{template/rodape :: footer}"></th:block>
</body>
</html>
